
 <a href="/producto">Producto</a>
<h2 style ='text-align: center;'>Ingrese el Producto:</h2> 
<class style="text-align: center;">
<form action="/producto" method="post">
Producto: <input id ="producto" type="text" style= " width: 200px;"placeholder="Producto" name="producto"> <br> <br>
Precio: <input id ="precio" type="number" style="width: 220px;" placeholder="Precio" name="precio"> <br> <br>
Thumbnail:  <input id="thumbnail" type="text" style="width: 190px;" placeholder="Thumbnail" name="thumbnail"><br> <br>
    <input type="submit" value="Enviar">
</class>
</form>
